/* Reset Streamlit */
html, body, #root, .main-container {
    margin: 0;
    padding: 0;
    width: 100%;
}

p {
    font-weight: 600;  /* Rendre le texte plus épais (plus gras) */
    text-align: justify;  /* Alignement justifié du texte */
    color: #f0f0f0;  /* Couleur du texte moins blanche, couleur gris foncé */
    padding: 10px;  /* Espacement autour du texte */
    border-radius: 5px;  /* Coins arrondis */
    line-height: 1.6;  /* Espacement entre les lignes */
}

/* Image centrée */
.center-image {
    display: block;
    margin: 20px auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Styles texte */
.main-container h1 {
    color: #00B388;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    width: fit-content;
    border: 2px solid #A4F6D2;
    border-radius: 10px;
    padding-left: 30px;  /* Ajout padding à cause de l'icône cadenas */
}

.main-container h2 {
    padding: 8px;
    margin: 15px auto;
    font-family: 'Roboto', sans-serif;
    border-bottom: 2px solid #00B388;
}

.stButton>button {
    background-color: #0f1116;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border-color: #00B388;
}

.stButton>button:hover {
    background-color: #00B388;  
    color: black !important;    /* Couleur du texte moins blanche, couleur gris foncé */
    border-color: #00B388;
}

/* Sidebar par défaut (desktop) */
section[data-testid="stSidebar"] {
    width: 200px !important;
    min-width: 200px !important;
    max-width: 200px !important;
    transition: width 0.3s ease;
}

section[data-testid="stSidebar"] a span {
    font-size: 0.9rem !important;
}

/* Réduire l'espace de l'en-tête de la sidebar */
div[data-testid="stSidebarHeader"] {
    height: 40px !important;
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Fixer la div en haut de la page */
div.st-emotion-cache-1y9tyez {
    position: fixed;  /* Fixer la div en haut de la page */
    top: 0;           /* Placer la div tout en haut */
    left: 0;          /* Optionnel : placer la div à gauche */
    width: 100%;      /* Pour qu'elle occupe toute la largeur de la page */
    z-index: 9999;    /* S'assurer qu'elle soit au-dessus des autres éléments */
}

/* ========= RESPONSIVE ========= */

/* Responsiveness pour les écrans petits (max-width: 768px) */
@media (max-width: 768px) {

    /* Cacher le header sur les petits écrans */
    header {
        visibility: hidden;  /* Cacher l'en-tête sur les petits écrans */
    }

    /* Réduire la largeur de la sidebar */
    section[data-testid="stSidebar"] {
        width: 120px !important;
        min-width: 120px !important;
        max-width: 120px !important;
    }

    /* Réduire la taille des textes dans la sidebar */
